@import "https://fonts.googleapis.com/css?family=Bungee|Ubuntu";

body {
  font-family: Ubuntu, sans-serif;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/illusions.png);
  background-position: top center;
  background-color: black;
  margin: 20px;
  line-height: 26px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}

h1,
h2,
h3 {
  font-family: Bungee;
}

.site {
  background-color: whitesmoke;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/bright_squares.png);
  background-position: top center;
  background-attachment: fixed;
  width: 1000px;
  margin: auto;
  overflow: hidden;
}

.site-header {
  width: 100%;
  padding: 20px 40px;
  background: deepskyblue;
  border-bottom: 4px solid dodgerblue;
  color: snow;
}

.site-header td {
  padding: 1rem;
}

.site-header a {
  color: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  margin-left: 1rem;
}

.site-footer {
  background: black;
  color: snow;
  line-height: 1.25;
}

.site-footer a {
  color: inherit;
}

.text-right {
  text-align: right;
}

.spacing {
  padding: 1rem;
}
