/***** Global Styles *******/
html {
  box-sizing: border-box;
}

.main-body {
  max-width: 1000px;
  margin: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.font-B {
  font-family: "Bungee", cursive;
}

/*******************************/

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/illusions.png);
  background-color: black;
  margin: 20px;
  line-height: 26px;
}

/****** Heading *****************/
.heading {
  height: 125px;
  margin: auto;
  background-color: #00bfff;
  color: white;
  border-bottom: 4px solid #1e90ff;
}

.heading-main {
  display: flex;
  align-content: flex-start;
}

.heading-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.heading-links:hover {
  text-decoration: none;
}

/*******************************/

/****** Astro Section *********/
.astro-section {
  background-color: whitesmoke;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/bright_squares.png);
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  padding: 10px;
}

/*******************************/
/***** Footer *************/
footer {
  height: auto;
  width: auto;
  background-color: black;
  display: flex;
  align-content: center;
  padding: 10px;
}

/*******************************/

/******* Media Queries **********/
@media only screen and (max-width: 768px) {
  .media-768 {
    text-align: center;
  }
  .media-768-ullist {
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
  }
}
